{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajay blog</title>
    <link rel="stylesheet" href=https://fonts.googleapis.com/css?family=Source*sans>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
 <header>
    <div class="nav-left">
        <h1><a href="{% url 'homes' %}">Ajay blog</a></h1>
     </div>
     <div class="navbar-light">
        <h1><a href="{% url 'post_new' %}">New Blog Post</a></h1>
        <nav class="nav-left">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                    <h1><a href="{% url 'logout' %}">Logout</a></h1>
                </span>
            </button>
        </nav>
    </div>
 </header>
 <div>
     {% block content %}
     {% endblock %}
 </div>   
</body>
</html>